
    <div class="row">
        <div class="col-12"> 
        <form [formGroup]="searchForm"(submit)="getUserProfile()">
            <input formControlName="username" class="form-control w-50 d-inline mx-2 height 10px padding-bottom 50px" type="text" placeholder="Enter your username"/>
            <button class="btn btn-warning d-inline" type="button" (click)="getUserProfile()"> 
                Get Repository
            <span [hidden]="isLoading" class="spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
        </form>  
        </div>
    </div>
    <div *ngIf="userProfile" class="card" style="width: 18rem;">
        <img [src]="userProfile.avatar_url" class="card-img-top" alt="" style="border-radius: 75%;">
        <div class="card-body">
          <h5 class="card-title">{{userProfile.name}}</h5>
          <p class="card-text">{{userProfile.bio}}</p>
          <a href="userProfile.html_url" class="btn btn-warning">Go to Github Repo</a>
        </div>
      </div>
